Refactor code to fit requirements
Assigned to: David Lerner
Description: Adjust code so that the url for read/edit has BASE_URL?index.php?c=main&m=view as the base as per requirement e. Also add ApiController with the url as c=api as per requirement m.
